<script>
	// Set the date we're counting down to
	var countDownDate = new Date("Mar 31, 2021 15:30:00").getTime();
	
	// Update the count down every 1 second
	var x = setInterval(function() {
	
	  // Get today's date and time
	  var now = new Date().getTime();
	
	  // Find the distance between now and the count down date
	  var distance = countDownDate - now;
	
	  // Time calculations for days, hours, minutes and seconds
	  var days = Math.floor(distance / (1000 * 60 * 60 * 24));
	  var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
	  var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
	  var seconds = Math.floor((distance % (1000 * 60)) / 1000);
	
	  // Display the result in the element with id="demo"
	  document.getElementById("demo").innerHTML = "<div class='time-box'><span class='l1-txt3 p-b-9 days gradient-text'>" + days + "<span class='s1-txt1'>Days</span> </span></div> " + "<div class='time-box'><span class='l1-txt3 p-b-9 hours gradient-text-1'>" + hours + "<span class='s1-txt1'>Hours</span> </span></div> "
	  + "<div class='time-box'><span class='l1-txt3 p-b-9 minutes gradient-text-2'>" + minutes + "<span class='s1-txt1'>Minutes</span> </span></div> " + "<div class='time-box'><span class='l1-txt3 p-b-9 minutes gradient-text-3'>" + seconds + "<span class='s1-txt1'>Seconds</span> </span></div> ";
	
	  // If the count down is finished, write some text
	  if (distance < 0) {
		clearInterval(x);
		document.getElementById("demo").innerHTML = "EXPIRED";
	  }
	}, 1000);
	</script>
<!--===============================================================================================-->	
<script src="assets/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="assets/bootstrap/js/popper.js"></script>
	<script src="assets/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="assets/select2/select2.min.js"></script>
<!--===============================================================================================-->
	<script src="assets/countdowntime/moment.min.js"></script>
	<script src="assets/countdowntime/moment-timezone.min.js"></script>
	<script src="assets/countdowntime/moment-timezone-with-data.min.js"></script>
	<script src="assets/countdowntime/countdowntime.js"></script>
	<script>
		$('.cd100').countdown100({
			// Set Endtime here
			// Endtime must be > current time
			endtimeYear: 0,
			endtimeMonth: 0,
			endtimeDate: 31,
			endtimeHours: 3,
			endtimeMinutes: 30,
			endtimeSeconds: 00,
			timeZone: "" 
			// ex:  timeZone: "America/New_York", can be empty
			// go to " http://momentjs.com/timezone/ " to get timezone
		});
	</script>
<!--===============================================================================================-->
	<script src="assets/tilt/tilt.jquery.min.js"></script>
	<script >
		$('.js-tilt').tilt({
			scale: 1.1
		})
	</script>
<!--===============================================================================================-->
	<script src="js/main.js"></script>